.home-buttons {
    text-align: left;
    font: normal normal 600 18px/23px Source Sans Pro;
    letter-spacing: 0.9px;
    color: #EECAFC;
    text-transform: uppercase;
}

.buttons {
    font: normal normal 600 18px/23px Source Sans Pro;
    letter-spacing: 0.9px;
    color: #C445F4;
    text-transform: uppercase;
}

.button {
    
}