.wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 336px;
}

.title {
    width: 336px;
    height: 428px;
    background: url('./../../../images/Title.png') no-repeat;
    background-size: contain;
}

.video {
    width: 200px;
    height: 115px;
    margin-top: 40px;
}

@media screen and (min-width: 2560px) {
    .wrap {
        padding-top: 200px;
        transform: scale(1.8, 1.8);
    }
}

@media screen and (max-width: 1024px) {
    .wrap {
        transform: scale(0.9, 0.9);
    }
}

@media screen and (max-width: 768px) {
    .wrap {
        transform: scale(0.7, 0.7);
    }
}

@media screen and (max-width: 425px) {
    .wrap {
        transform: scale(0.5, 0.5);
    }
}

@media screen and (max-width: 375px) {
    .wrap {
        transform: scale(0.5, 0.5);
    }
}

@media screen and (max-width: 320px) {
    .wrap {
        transform: scale(0.4, 0.4);
    }
}