@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.main-div {
    padding-bottom: 300px;
    min-width: 500px;

    background: url('images/background.png') no-repeat center 100px, rgba(41, 41, 41, 1);
    background-size: contain;
    opacity: 1;
}

@media screen and (min-width: 2560px) {
    .main-div {
        height: 1500px;
    }
}