@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.main-div {
    padding-bottom: 300px;

    background: url('images/background.png') no-repeat 35% 70%, rgba(41, 41, 41, 1);
    opacity: 1;
}